swiper-container {
  padding-bottom: 20px;
}

swiper-slide {
  height: auto;
}

.service-card:hover {
  border-color: #00ff66;
}

.service-card:hover img {
  scale: 1.05;
}

.service-card a {
  width: fit-content;
}

.custom-prev,
.custom-next {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  border: 1px solid #00ff66;

  background: #101b15;
  color: #00ff66;

  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background: #00ff66;
  color: #07130d;
}
