.sidebar{
  width:260px;
  height: 100%;
  background:#0c1d14;
  border-right:1px solid #163523;

  padding:30px 20px;

  display:flex;
  flex-direction:column;

  overflow:hidden;
}

.logo{
  margin-bottom:30px;
  flex-shrink:0;
}

.logo h2{
  color:#00ff66;
  font-size:24px;
  font-weight:700;
  margin-bottom:4px;
}

.logo span{
  color:#9ca3af;
  font-size:13px;
}

.close-btn{
  display:none;
}

nav{
  flex:1;

  display:flex;
  flex-direction:column;
  gap:10px;

  overflow-y:auto;
  overflow-x:hidden;

  padding-right:5px;
}

nav a{
  color:#d1d5db;
  text-decoration:none;

  padding:14px;

  border-radius:12px;

  transition:.3s;

  display:flex;
  align-items:center;
  gap:12px;
}

nav a i{
  width:20px;
  text-align:center;
}

nav a:hover{
  background:#163523;
  color:#00ff66;
}

nav a.active{
  background:#163523;
  color:#00ff66;
  border-left:4px solid #00ff66;
}

/* Scrollbar */

nav::-webkit-scrollbar{
  width:6px;
}

nav::-webkit-scrollbar-track{
  background:#0c1d14;
}

nav::-webkit-scrollbar-thumb{
  background:#163523;
  border-radius:10px;
}

nav::-webkit-scrollbar-thumb:hover{
  background:#00ff66;
}

/* Mobile */

@media(max-width:992px){

  .sidebar{

    position:fixed;
    height: 100vh;
    top:0;
    left:-280px;

    width:260px;

    z-index:999;

    transition:.3s;
  }

  .sidebar.mobile-open{
    left:0;
  }

  .close-btn{

    display:flex;

    justify-content:flex-end;

    color:white;

    font-size:24px;

    cursor:pointer;

    margin-bottom:20px;
  }

}